{% extends "base.html" %}
{% block content %}
<h1>Lista de Juegos</h1>

<ul>
{% for juego in juegos %}
  <li>
    {{ juego.title }} - {{ juego.genre }} ({{ juego.platform }})
    {% if user %}
      {% if juego in user.favoritos %}
        <a href="/favoritos/remove/{{ juego.id }}">🌟</a>
      {% else %}
        <a href="/favoritos/add/{{ juego.id }}">⭐</a>
      {% endif %}
    {% endif %}
    {% if user and user.role == 'admin' %}
      <a href="/juegos/delete/{{ juego.id }}">❌</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
